<!-- <p>tasks works!</p> -->
@if (addingTask) {
  <!-- <app-new-task (cancel)="onCloseNewTask()" (add)="addTask($event)" [userId]="userId"/> -->
  <app-new-task (close)="onCloseNewTask()" [userId]="userId"/>
}

<section id="tasks">
  <header>
  <h2>{{name}}'s Tasks</h2>
  <menu>
    <button (click)="onStartAddTask()">Add Task</button>
  </menu>
</header>
<ul>
  @for (task of selectedUserTasks; track task.id) {
    <!-- <li><app-task [task]="task" (complete)="onCompleteTask($event)"/></li> -->
    <li><app-task [task]="task"/></li>
  }
</ul>
</section>
